body {
    font-family: Arial, sans-serif;
    background-color: #111936;
    color: white;
    margin: 0;
    padding: 0;
    display: flex; /* Added */
    justify-content: center; /* Added */
    align-items: center; /* Added */
    min-height: 100vh; /* Added */
}

.container {
    width: 80%;
    max-width: 800px; /* Added to limit the width of the container */
    padding: 20px;
    text-align: center; /* Added to center-align text within the container */
}

h1 {
    margin-bottom: 20px;
}

.project {
    background-color: #1a243a;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-name {
    font-size: 18px;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #3d4e6a;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #556b8a;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.footer p {
    margin-bottom: 20px;
}
